html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

p {
    font-weight: 400;
}

.btn {
    background-color: #e43b3b;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5;
    font-weight: 600;
    transition: .2s ease;
}

.btn.small {
    background-color: #e43b3b;
    padding: .5em 1em;
    border-radius: 20px;
    letter-spacing: 1.5;
    font-weight: 600;
    font-size: 1em;
}

.btn span {
    padding-left: 4px;
}
.btn:hover {
    background-color: #fbb200;
}
.knopje {
  width: 30px;
  height: 30px;
  padding-right: 35px;
  margin-bottom: 12px;
}
.form {
    margin-left: 20px;
}
navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 20px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    z-index: 9;
}


navbar .logo img {
    width: 150px;
}

navbar ul {
    padding: 0;
    margin: 0;
    display: block;
}

navbar li {
    display: inline;
    padding-left: 20px;
    font-size: 16px;
}

navbar li a {
    text-decoration: none;
    color: black;
}

navbar li a.active {
    color: #e43b3b;
    border-bottom: 2px solid #e43b3b;
    padding-bottom: 4px;
}

header {
    display: flex;
    height: 500px;
    padding-top: 79.45px;
    padding-bottom: 2em;
    overflow: hidden;
    background-color: hsla(43, 100%, 49%, 0.1);
}

.intro-text {
    max-width: 50%;
    padding: 2em;
}

.intro-text .inner {
    display: block;
    max-width: 80%;
}

.header-image {
    width: 50%;
    position: relative;
}

.header-image img {
    position: absolute;
    width: 70%;
    top: 2em;
    left: -100px;
    z-index: 2;
}

.header-image .shape {
    position: absolute;
    width: 700px;
    height: 700px;
    background-color: #fbb200;
    z-index: 1;
    border-radius: 50%;
    top: -15%;
    left: 30%;
}

header h1 {
    font-size: 64px;
    line-height: 74px;
}

header h1 span {
    color: #e43b3b;
}

header p {
    font-size: 24px;
    line-height: 42px;
    max-width: 650px;
    padding-bottom: 2em;
    color: #777777;
}
footer {
  text-align: left;
  padding: 36px;
  background-color: white;
  color: black;
  text-decoration: none;
  display: flex;

}